{% extends '::base.html.twig' %}

{% block title %}{{ pageData[page] }}{% endblock %}

{% block content %}
    {% block main_banner_widget %}{{ parent() }}{% endblock %}

    <div class="space-fix-container"></div>

    {% block under_banner_text_widget %}
        <div class="container padding-0-100px" id="main-text-under-banner">
            <div class="text-center letter-spacing-1px banner-content-block">
                <p class="padding-0-100px">Дворец культуры железнодорожников для любого вашего торжества предлагает
                5 залов.4 зала под банкет на 50-250 человек, также концертный зал
                на 834 пасадочных места. Подробнее о залах и дополнительных  услугах
                Вы можете узнать ниже</p>
            </div>
        </div>
    {% endblock %}

    <div class="space-fix-container"></div>

    <div class="container padding-left-0 padding-right-0 halls-list-block">

        <div class="col-xs-12 padding-0-100px xs-padding-0-10px single-hall">
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="{{ asset('img/sample_img_1.png') }}" alt="...">
                </a>
                <div class="media-body">
                    <h3 class="media-heading hall-label">
                        <a href="{{ path('front.renderPage', {
                            'page': page,
                            'id': 1
                        }) }}">Концертный зал</a>
                    </h3>
                    <p class="by-author hall-description">
                        Вместимость до 250 человек
                        Большой зал отлично подойдет для корпоративных мероприятий и широких свадеб. Светлый зал с большими окнами.
                    </p>
                    <a href="#" class="read-more-link pull-right xs-width-100">
                        Подробнее
                    </a>
                    <a href="{{ path('front.renderPage', {'page': 'booking'}) }}" class="pull-left read-more-link">
                        Бронировать
                    </a>
                </div>
            </div>
        </div>

        <div class="col-xs-12 padding-0-100px xs-padding-0-10px single-hall">
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="{{ asset('img/sample_img_1.png') }}" alt="...">
                </a>
                <div class="media-body">
                    <h3 class="media-heading hall-label">
                        <a href="{{ path('front.renderPage', {
                            'page': page,
                            'id': 2
                        }) }}">Фойе концертного зала</a>
                    </h3>
                    <p class="by-author hall-description">
                        Вместимость до 250 человек
                        Большой зал отлично подойдет для корпоративных мероприятий и широких свадеб. Светлый зал с большими окнами.
                    </p>
                    <a href="{{ path('front.renderPage', {
                        'page': page,
                        'id': 3
                    }) }}" class="read-more-link pull-right">
                        Подробнее
                    </a>
                    <a href="{{ path('front.renderPage', {'page': 'booking'}) }}" class="pull-left read-more-link">
                        Бронировать
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 padding-0-100px xs-padding-0-10px single-hall">
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="{{ asset('img/sample_img_1.png') }}" alt="...">
                </a>
                <div class="media-body">
                    <h3 class="media-heading hall-label">
                        <a href="{{ path('front.renderPage', {
                            'page': page,
                            'id': 4
                        }) }}">Конференц зал</a>
                    </h3>
                    <p class="by-author hall-description">
                        Вместимость до 250 человек
                        Большой зал отлично подойдет для корпоративных мероприятий и широких свадеб. Светлый зал с большими окнами.
                    </p>

                    <a href="{{ path('front.renderPage', {
                        'page': page,
                        'id': 5
                    }) }}" class="read-more-link pull-right">
                        Подробнее
                    </a>
                    <a href="{{ path('front.renderPage', {'page': 'booking'}) }}" class="pull-left read-more-link">
                        Бронировать
                    </a>

                </div>
            </div>
        </div>

        <div class="col-xs-12 padding-0-100px xs-padding-0-10px single-hall">
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="{{ asset('img/sample_img_1.png') }}" alt="...">
                </a>
                <div class="media-body">
                    <h3 class="media-heading hall-label">
                        <a href="{{ path('front.renderPage', {
                            'page': page,
                            'id': 6
                        }) }}">Банкетный зал</a>
                    </h3>
                    <p class="by-author hall-description">
                        Вместимость до 250 человек
                        Большой зал отлично подойдет для корпоративных мероприятий и широких свадеб. Светлый зал с большими окнами.
                    </p>
                    <a href="#" class="read-more-link pull-right">
                        Подробнее
                    </a>
                    <a href="{{ path('front.renderPage', {'page': 'booking'}) }}" class="pull-left read-more-link">
                        Бронировать
                    </a>
                </div>
            </div>
        </div>

        <div class="col-xs-12 padding-0-100px xs-padding-0-10px single-hall">
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="{{ asset('img/sample_img_1.png') }}" alt="...">
                </a>
                <div class="media-body">
                    <h3 class="media-heading hall-label">
                        <a href="{{ path('front.renderPage', {
                            'page': page,
                            'id': 7
                        }) }}">Круглый зал</a>
                    </h3>
                    <p class="by-author hall-description">
                        Вместимость до 250 человек
                        Большой зал отлично подойдет для корпоративных мероприятий и широких свадеб. Светлый зал с большими окнами.
                    </p>
                    <a href="#" class="read-more-link pull-right">
                        Подробнее
                    </a>
                    <a href="{{ path('front.renderPage', {'page': 'booking'}) }}" class="pull-left read-more-link">
                        Бронировать
                    </a>
                </div>
            </div>
        </div>

    </div>

{% endblock %}