<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{{ asset('node_modules/bootstrap/dist/css/bootstrap.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('node_modules/font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/custom.css') }}" type="text/css">


    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>

<div class="wrapper">

    <div class="header row">
        {% block header %}

            {% set mainMenu = {
            '' : 'Главная',
            'zaly' : 'Залы',
            'artisty' : 'Артисты',
            'istoriya' : 'История',
            'otzyvy' : 'Отзывы',
            'kontakty' : 'Контакты',
            } %}

            <div class="hidden-xs">
                {% include ':default/front/header:col-lg-nav.html.twig' with {'mainMenu': mainMenu} %}
            </div>

            <div class="hidden-lg">
                {% include ':default/front/header:col-xs-nav.html.twig' with {'mainMenu': mainMenu} %}
            </div>

        {% endblock %}
    </div>

    <div class="content">
        {% block content %}
            <div class="container-fluid index-page-banner" id="main-banner-index">
                <div class="col-sm-4 col-sm-offset-8 banner-text">
                    <h3>Дворец</h3>
                    <h3>Культуры</h3>
                    <h3>Железнодорожников</h3>
                </div>
            </div>
        {% endblock %}
        <div class="container space-fix-container-2x"></div>
    </div><!-- .content -->
    <div class="footer">
        {% block footer %}{% endblock %}
    </div>

</div><!-- .wrapper -->


<script src="{{ asset('node_modules/jquery/dist/jquery.min.js') }}"></script>
<script src="{{ asset('node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
