<!DOCTYPE html>
<html lang="ru">
<head>
    {% set page = app.request.get('page') %}
    {% set _route_params = app.request.attributes.get('_route_params') %}
    {% if page is null %}
        {% set page = 'index' %}
    {% endif %}

    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{% block seoDescription %}{% endblock %}">
    <meta name="keywords" content="{% block seoKeywords %}{% endblock %}">

    <title>{% block title %}Дворец Культуры Железнодорожников{% endblock %}</title>

    <link rel="stylesheet" href="{{ asset('node_modules/bootstrap/dist/css/bootstrap.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('node_modules/font-awesome/css/font-awesome.min.css') }}" typeof="text/css">
    <link rel="stylesheet" href="{{ asset('css/custom.css') }}" type="text/css">
    <link rel="icon" href="{{ asset('img/favicon.ico') }}" type="image/x-icon">

    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link rel="stylesheet" href="{{ asset('node_modules/blueimp-gallery/css/blueimp-gallery.css') }}">
    <script src="{{ asset('node_modules/jquery/dist/jquery.min.js') }}"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>

    {% block yandex_metrika_counter %}
        {{ render(controller('AppBundle:Front\\App:getMetricsCode', {'metricsName': 'yandex'})) }}
    {% endblock %}

    {% block google_analytics %}
        {{ render(controller('AppBundle:Front\\App:getMetricsCode', {'metricsName': 'google'})) }}
    {% endblock %}
    <style>

        .top-header {
            margin-top: 20px;
        }

        .top-header > ul {
            display: inline-block;
        }

        .my-icon {
            vertical-align: middle;
            font-size: 1.5em;
        }

        /* Preloader */

        #preloader {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #fff;
            display: none;
            /* change if the mask should have another color then white */
            z-index: 99;
            /* makes sure it stays on top */
        }

        #status {
            width: 200px;
            height: 200px;
            position: absolute;
            left: 50%;
            /* centers the loading animation horizontally one the screen */
            top: 50%;
            /* centers the loading animation vertically one the screen */
            background-image: url(https://raw.githubusercontent.com/niklausgerber/PreLoadMe/master/img/status.gif);
            /* path to your loading animation */
            background-repeat: no-repeat;
            background-position: center;
            margin: -100px 0 0 -100px;
            /* is width and height divided by two */
        }
    </style>

    {#Check if accessible settings was setted up#}
    <script>
        $(document).ready(function () {
            if (localStorage.getItem('accessibleSettings')) {
                $(window).on('load', function() { // makes sure the whole site is loaded
                    $('#status').fadeOut(); // will first fade out the loading animation
                    $('#preloader').delay(350).fadeOut('slow'); // will fade out the white DIV that covers the website.
                    $('body').delay(350).css({'overflow':'visible'});
                });

                var accessibleSetting = JSON.parse(localStorage.getItem('accessibleSettings')),
                    cssFileName = accessibleSetting['font-size'],
                    url = '{{ asset('css/front/accessible/%css_file_name%.css') }}',
                    linkLine = '<link rel="stylesheet" href="%url%" id="accessibileCss">',
                    cssFileLink = url.replace('%css_file_name%', cssFileName);

                linkLine = linkLine.replace('%url%', cssFileLink);
                console.log(cssFileLink);
                console.log(linkLine);
                $('head').append(linkLine);
                $('#settings-panel').css('display', 'block');

                $(accessibleSetting).each(function (key, value) {
                    for (inputName in value) {
                        $('input[name=' + inputName + '][value=' + value[inputName] + ']').attr('checked', 'checked');
                    }
                });

                if (accessibleSetting.images === 'off') {
                    $("img").removeAttr("src");
                }

            }else {
                url = '{{ asset('css/custom.css') }}';
                console.log(url);
                $('head').append('<link rel="stylesheet" href="'+url+'" type="text/css">');
            }
        });
    </script>
</head>
<body>

<div id="preloader">
    <div id="status">&nbsp;</div>
</div>

<div class="wrapper">

    <div class="accessebility-block container-fluid margin-left-0 margin-right-0">
        <div class="row padding-right-0">
            <div id="settings-panel">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <form class="form-inline accessebility-settings-form">
                                <div class="form-group text-size-group">
                                    <label>Размер шрифта</label>
                                    <label class="radio-inline" id="large">
                                        <input type="radio" value="large" name="font-size" checked>A
                                    </label>
                                    <label class="radio-inline" id="larger">
                                        <input type="radio" value="larger" name="font-size">A
                                    </label>
                                    <label class="radio-inline" id="largest">
                                        <input type="radio" value="largest" name="font-size">A
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label>Изображения</label>
                                    <label class="radio-inline">
                                        <input type="radio" value="on" name="images" checked>Включить
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" value="off" name="images">Отключить
                                    </label>
                                </div>
                                <div class="form-group pull-right">
                                    <button class="btn btn-lg btn-default" type="submit">Сохранить</button>
                                    <button class="btn btn-lg btn-default reset-accessible-settings" type="button">Сбросить
                                    </button>
                                </div>
                            </form>
                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                </nav>
            </div>
            <h4>
                <a class="disabled-btn">
                    <span class="fa fa-eye fa-2x"></span>
                </a>
            </h4>
        </div>
    </div>
    <div class="header row">

        {% block header %}

        {% set mainMenu =
            [
                {
                    title: 'Главная',
                    id: 'index',
                    path: path('front.index')
                },
                {
                    title: 'Афиша',
                    id: 'event',
                    path: path('front.load_page', {'entity':'event'})
                },
                {
                    title: 'Залы',
                    id: 'hall',
                    path: path('front.load_page', {'entity':'hall'})
                },
                {
                    title: 'Новости',
                    id: 'news',
                    path: path('front.load_page', {'entity':'news'})
                },
                {
                    title: 'Артисты',
                    id: 'artist',
                    path: path('front.load_page', {'entity':'artist'})
                },
                {
                    title: 'История',
                    id: 'history',
                    path: path('front.load_page', {'entity':'history'})
                },
                {
                    title: 'Контакты',
                    id: 'contact',
                    path: path('front.contact')
                }
            ] %}

        {{ render(controller('AppBundle:Front\\Front:renderTopNavbar')) }}

        <div>
            {% include ':default/front/header:col-lg-nav.html.twig' with {'mainMenu': mainMenu} %}
        </div>

        <div>
            {% include ':default/front/header:col-xs-nav.html.twig' with {'mainMenu': mainMenu} %}
        </div>
        {% endblock %}
    </div>

    <div class="content">
        {% block content %}

            {% block main_banner_widget %}
                {{ render(controller('AppBundle:Front\\Front:renderBanner')) }}
            {% endblock %}

            {% block under_banner_text_widget %}{% endblock %}

        {% endblock %}
        <div id="scroll-on-top"></div>
        <div class="container space-fix-container"></div>

    </div><!-- .content -->

    <div class="footer xs-padding-0-10px">
        {% block footer %}
            <div class="container padding-left-0 padding-right-0 padding-top-20px">
                <div class="col-sm-12 col-xs-12 padding-0-100px footer-widget">
                    <h4 class="footer-widget-label">Контакты</h4>

                    <div class="col-xs-12 col-lg-6 padding-left-0">
                        <ul class="footer-widget-data-list list-unstyled">
                            <li><strong><span class="fa fa-map-marker"></span>&nbsp;Адрес:</strong></li>
                            <li>г. Екатеринбург, ул. Челюскинцев, 102</li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-lg-6 padding-right-0">
                        <ul class="footer-widget-data-list list-unstyled">
                            <li><strong><span class="fa fa-phone"></span>&nbsp;Телефон:</strong></li>
                            <li>+7 (343) 310-53-58; 8-952-733-15-27 - администрация</li>
                            <li>+7 (343) 310-53-29 - касса</li>
                            <li><strong><span class="fa fa-at"></span>&nbsp;Email:</strong>&nbsp;<a
                                        href="mailto:dkj96@ya.ru" class="text-style-5">dkj96@ya.ru</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>

</div><!-- .wrapper -->
<script src="{{ asset('node_modules/lodash/lodash.min.js') }}"></script>
<script src="{{ asset('node_modules/moment/min/moment.min.js') }}"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{{ asset('node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('js/jquery.gotop.js') }}"></script>
<script src="{{ asset('js/utils.js') }}"></script>
<script src="{{ asset('node_modules/blueimp-gallery/js/blueimp-gallery.js') }}"></script>

<script>
    $(document).ready(function () {
        $('[data-tooltip="tooltip"]').tooltip();

        $('.carousel').carousel({
            interval: 6000
        });
    });


    $(document).ready(function () {
        $(".disabled-btn").click(function () {
            $("#settings-panel").slideToggle("slow");
        });

        var accessibleSettings = {
            'font-size': '',
            'images': ''
        };

        $('.accessebility-settings-form').submit(function (e) {
            e.preventDefault();
            var formData = $(this).serializeArray();
            $(formData).each(function (key, val) {
                accessibleSettings[val.name] = val.value;
            });
            localStorage.setItem('accessibleSettings', JSON.stringify(accessibleSettings));
            location.reload();
        });

        $('.reset-accessible-settings').on('click', function (e) {
            e.preventDefault();
            localStorage.removeItem('accessibleSettings');
            location.reload();
        })
    });
</script>
{% block javascripts %}{% endblock %}

</body>
</html>
