{% extends '::base.html.twig' %}

{% block title %}{{ defaultPage.title }}{% endblock %}

{% block content %}
    {% block main_banner_widget %}{{ parent() }}{% endblock %}

    <div class="container col-xs-padding-right-0 single-hall-page">
        <div class="space-fix-container"></div>

        <div class="row xs-padding-0-10px">
            <div class="col-xs-12 text-left padding-0-100px">
                <ol class="breadcrumb single-hall-page-breadcrumbs">
                    <li class="breadcrumb-item"><a href="{{ path('front.renderPage', {
                            'page': 'zaly'
                        }) }}">Залы</a></li>
                    <li class="breadcrumb-item active">{{ defaultPage.title }}</li>
                </ol>

            </div>
        </div>

        <div class="space-fix-container"></div>

        <div class="row xs-padding-0-10px padding-0-100px single-hall-page-content">
            <div class="col-xs-12">
               <div class="row">
                   <div class="col-sm-10">
                       <h4 class="underscored-label">
                           {{ defaultPage.title }}
                       </h4>
                   </div>
                   <div class="col-sm-2">
                       <a href="{{ path('front.renderPage', {
                           'page': 'booking'
                       }) }}" class="btn btn-success pull-right xs-width-100" role="button" target="_blank">
                           Бронирование
                       </a>
                   </div>
               </div>
            </div>
            <div class="col-xs-12">
                <h5 class="label-capacity">
                    Вместимость: {{ defaultPage.capacity }}
                </h5>
            </div>
            <div class="col-xs-12">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur odio elit, aliquam ut ligula at,
                    efficitur vehicula ante. Pellentesque habitant morbi tristique senectus et netus et malesuada fames
                    ac turpis egestas. Fusce blandit pretium maximus. Donec aliquet hendrerit viverra. Fusce elementum
                    scelerisque diam non tincidunt. Maecenas tempor dui est, at tristique dui malesuada non. Quisque
                    auctor ultrices nisi, vitae malesuada nisi sodales nec. Orci varius natoque penatibus et magnis dis
                    parturient montes, nascetur ridiculus mus.
                </p>

                <p>
                    Nulla tellus eros, molestie sit amet imperdiet a, posuere id enim. Suspendisse dolor sapien,
                    sagittis id nunc eu, faucibus faucibus arcu. Nam hendrerit sapien diam, vitae dapibus nibh tristique
                    vel. Donec mollis metus libero, tempor tempor dui mattis et. Aliquam quis sem maximus elit rutrum
                    sodales. Aenean id nisi eget nisl aliquam tempor. Maecenas malesuada faucibus libero, non
                    pellentesque mauris sollicitudin id. Sed pellentesque, est ac dignissim vehicula, magna leo auctor
                    mi, a rhoncus turpis purus sodales ex.
                </p>
            </div>
            <div class="col-xs-12">
                <a href="#" class="read-more-link pull-right">
                    Подробнее о дополнительных услугах
                </a>
            </div>
        </div>

    </div>

{% endblock %}