<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% block title %}Админ панель ДКЖ{% endblock %}</title>

    <link href="{{ asset('node_modules/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('node_modules/sweetalert/dist/sweetalert.css') }}" rel="stylesheet">
    <script src="https://use.fontawesome.com/dd34fe19f7.js"></script>
    <link href="{{ asset('admin/css/animate.css') }}" rel="stylesheet">
    <link href="{{ asset('admin/css/style.css') }}" rel="stylesheet">
    <link href="{{ asset('css/admin/custom.css') }}" rel="stylesheet">
    <script src="//cdn.ckeditor.com/4.7.0/full/ckeditor.js"></script>
    {% block styles %}{% endblock %}

</head>

{% set routeParams = app.request.attributes.get('_route_params') %}
{% set routeName = app.request.attributes.get('_route') %}
{% set activeTabId = '' %}
{% set activePageName = [] %}
{% set requestUri = app.request.requestUri %}


{% set sidebarItems = [
    {
        id: 'dashboard',
        href: path('admin.index'),
        icon: 'fa-th-large',
        name: 'Главная'
    },
    {
        id: 'settings',
        href: path('admin.settings'),
        icon: 'fa-cog',
        name: 'Настройки'
    },
    {
        id: 'banner',
        href: path('admin.list', {'entity': 'banner'}),
        icon: 'fa-picture-o',
        name: 'Баннеры'
    },
    {
        id: 'hall',
        href: path('admin.list', {'entity': 'hall'}),
        icon: 'fa-university',
        name: 'Залы'
    },
    {
        id: 'event',
        href: path('admin.list', {'entity': 'event'}),
        icon: 'fa-calendar',
        name: 'События'
    },
    {
        id: 'portfolio',
        href: path('admin.list', {'entity': 'portfolio'}),
        icon: 'fa-camera',
        name: 'Портфолио'
    },
    {
        id: 'news',
        href: path('admin.list', {'entity': 'news'}),
        icon: 'fa-newspaper-o',
        name: 'Новости'
    },
    {
        id: 'artist',
        href: path('admin.list', {'entity': 'artist'}),
        icon: 'fa-pied-piper-alt',
        name: 'Артисты'
    },
    {
        id: 'history',
        href: path('admin.list', {'entity': 'history'}),
        icon: 'fa-hourglass',
        name: 'История'
    },
    {
        id: 'booking',
        href: path('admin.list', {'entity': 'booking'}),
        icon: 'fa-lock',
        name: 'Бронирования'
    },
    {
        id: 'feedback',
        href: path('admin.message.listing', {'entity': 'feedback'}),
        icon: 'fa-envelope',
        name: 'Обратная связь'
    },
    {
        id: 'review',
        href: path('admin.message.listing', {'entity': 'review'}),
        icon: 'fa-commenting-o',
        name: 'Отзывы'
    }
] %}

{% for item in sidebarItems %}
                  		
                  		{% set active = null %}
                  		
                  		{% set splitRequestUri =  requestUri | split('/') %}
                  		
                  		{% set currentUri = splitRequestUri[2] %}
						
						{% if item.id == app.request.get('entity') %}
							{% set activePageName = activePageName | merge([item.name]) %}
						{% endif %}
						
						{% if app.request.get('entity') == null %}
							{% if item.id == currentUri %}
								{% set activePageName = activePageName | merge([item.name]) %}
							{% endif %}						

						{% endif %}
										                    
 {% endfor %}
 
<body>
<div id="wrapper">
    {% block navigation_bar %}

        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="{{ path('admin.index') }}">
                                <span class="clear">
                                    <span class="block m-t-xs">
                                        <h3 class="font-bold">{{ app.user.username }}</h3>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="logo-element">
                            ДКЖ
                        </div>
                    </li>
                    {% for item in sidebarItems %}
                  		
                  		{% set active = null %}
                  		
                  		{% set splitRequestUri =  requestUri | split('/') %}
                  		
                  		{% set currentUri = splitRequestUri[2] %}
						
						{% if item.id == app.request.get('entity') %}
							{% set active = 'active' %}
							{% set activePageName = activePageName | merge([item.name]) %}
						{% endif %}
						
						{% if app.request.get('entity') == null %}
							{% if item.id == currentUri %}
								{% set active = 'active' %}
								{% set activePageName = activePageName | merge([item.name]) %}

							{% endif %}						

						{% endif %}
										                    
                        <li id="{{ item.id }}" {% if active != null %} class="{{ active }}" {% endif %}}>
                            <a href="{{ item.href }}"><i class="fa {{ item.icon }}"></i>
                                <span class="nav-label">{{ item.name }}</span>
                            </a>
                        </li>

                    {% endfor %}
                </ul>

            </div>
        </nav>
    {% endblock %}

    <div id="page-wrapper" class="gray-bg dashbard-1">


        {% block header %}
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                    </div>
                    <ul class="nav navbar-top-links navbar-right">
                        {% block add_object_btn %}{% endblock %}
                        <li>
                            <a href="{{ path('front.index') }}" target="_blank">
                                <i class="fa fa-home"></i> На главную
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('fos_user_security_logout') }}">
                                <i class="fa fa-sign-out"></i> Выход
                            </a>
                        </li>
                    </ul>

                </nav>
            </div>

        {% endblock %}

	<div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
			<h2>
				{% block page_heading %}{{ activePageName | first }}{% endblock %}
			</h2>
		</div>
        
         <div class="col-lg-2">

		</div>
     </div>
            
        <div class="row">
            <div class="col-lg-12">
                <div class="wrapper wrapper-content">
                    <div class="row">
                        {% block content %}{% endblock %}
                    </div>
                </div>
                {% block footer %}
                    {#<div class="footer">#}
                        {#<div class="pull-right">#}
                            {#10GB of <strong>250GB</strong> Free.#}
                        {#</div>#}
                        {#<div>#}
                            {#<strong>Copyright</strong> Example Company &copy; 2014-2017#}
                        {#</div>#}
                    {#</div>#}
                {% endblock %}
            </div>
        </div>

    </div>
</div>

<!-- Mainly scripts -->
<script src="{{ asset('node_modules/jquery/dist/jquery.min.js') }}"></script>
<script src="{{ asset('node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('admin/js/plugins/metisMenu/jquery.metisMenu.js') }}"></script>
<script src="{{ asset('admin/js/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>
<script src="{{ asset('node_modules/sweetalert/dist/sweetalert.min.js') }}"></script>

<!-- Flot -->
<script src="{{ asset('admin/js/plugins/flot/jquery.flot.js') }}"></script>
<script src="{{ asset('admin/js/plugins/flot/jquery.flot.tooltip.min.js') }}"></script>
<script src="{{ asset('admin/js/plugins/flot/jquery.flot.spline.js') }}"></script>
<script src="{{ asset('admin/js/plugins/flot/jquery.flot.resize.js') }}"></script>
<script src="{{ asset('admin/js/plugins/flot/jquery.flot.pie.js') }}"></script>

<!-- Peity -->
<script src="{{ asset('admin/js/plugins/peity/jquery.peity.min.js') }}"></script>

<!-- Custom and plugin javascript -->
<script src="{{ asset('admin/js/inspinia.js') }}"></script>
<script src="{{ asset('admin/js/plugins/pace/pace.min.js') }}"></script>

<!-- jQuery UI -->
<script src="{{ asset('admin/js/plugins/jquery-ui/jquery-ui.min.js') }}"></script>

<!-- GITTER -->
<script src="{{ asset('admin/js/plugins/gritter/jquery.gritter.min.js') }}"></script>

<!-- Sparkline -->
<script src="{{ asset('admin/js/plugins/sparkline/jquery.sparkline.min.js') }}"></script>

<!-- ChartJS-->
<script src="{{ asset('admin/js/plugins/chartJs/Chart.min.js') }}"></script>

<!-- Toastr -->
<script src="{{ asset('admin/js/plugins/toastr/toastr.min.js') }}"></script>

<!-- Translit ru-to-en -->
<script src="{{ asset('js/plugins/translitRuEn/translit.js') }}"></script>

<script>

    $('.delete-object').on('click', function () {

        var objectName = $(this).data('objectname'),
            objectId = $(this).data('objectid'),
            url = '{{ path('admin.api.object_delete', {'object': '_object', 'id': '_id'}) }}',
            rowId = objectName+'_'+objectId;


        swal({
            title: "Удалить объект?",
            text: "Данное действие необратимо!",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Удалить",
            closeOnConfirm: false
        }, function () {
            $.ajax({
                url: url.replace('_object', objectName).replace('_id', objectId),
                method: 'post',
                success: function () {

                    swal({
                        title: 'Удалено',
                        text: 'Объект был успешно удален',
                        type: 'success'
                    }, function () {
                        $('#'+rowId).remove();
                    });

                }
            });
        });
    });
    
    $( ".save-category-description" ).on('click',function( e ) {
		var description = CKEDITOR.instances['category-description'].getData(),
			entity = $(this).data('entity');

		$.ajax({
                url: '{{ path('admin.api.save_category_data') }}',
                method: 'post',
                data: {
					description: description,
					entity: entity
				},
                success: function () {
					swal({
                        title: 'Сохранено!',
                        text: 'Данные успешно записаны',
                        type: 'success'
                    });
                }
            });	
        });
        
     $('.save-category-seo').on('click', function(e) {
		
		var entity = $(this).data('entity'),
			data = {};
		
		$.each( $('.seo-form'), function(key, element ) {
			console.log($(element).val());
			data[$(element).attr('name')] = $(element).val();
		});	
		
		data['entity'] = entity;	
		
		data['description'] = CKEDITOR.instances['category-description'].getData();
			
		$.ajax({
                url: '{{ path('admin.api.save_category_data') }}',
                method: 'post',
                data: data,	
                success: function () {
					swal({
                        title: 'Сохранено!',
                        text: 'Данные успешно записаны',
                        type: 'success'
                    });
                }
            });		            
	});

</script>

{% block scripts %}{% endblock %}

</body>

</html>
