{% extends ':default/admin:base.html.twig' %}

{% block styles %}
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            var form = $('#form_{{ form.vars.name }}');

            form.append('<div style="margin-top: 20px;"><button class="btn btn-success" type="submit"><span class="fa fa-floppy-o"></span> Сохранить</button></div>')
        })
    </script>
{% endblock %}

{% form_theme form _self %}

{#{%- block form_widget_simple -%}#}
    {#{%- set type = type|default('text') -%}#}
    {#<input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>#}
{#{%- endblock form_widget_simple -%}#}


{%- block date_widget -%}
    {%- if widget == 'single_text' -%}
        {{ block('form_widget_simple') }}
    {%- else -%}
        <div {{ block('widget_container_attributes') }}>
            {{- date_pattern|replace({
                '{{ day }}':   form_widget(form.day),
                '{{ month }}': form_widget(form.month),
                '{{ year }}':  form_widget(form.year),
            })|raw -}}
        </div>
    {%- endif -%}
{%- endblock date_widget -%}


{% block content %}
    <div class="col-md-12">

        <div class="ibox float-e-margins">
            <div class="ibox-title">
                {% set sectionName = 'admin.'~form.vars.name  %}
                <h5>Управление разделом {{ sectionName | trans }}</h5>
            </div>
            <div class="ibox-content">

                {#{{ dump(form.vars) }}#}

                {{ form_start(form, {'attr': {'id': 'form_'~form.vars.name}}) }}

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}