{% extends ':default/admin:base.html.twig' %}

{% form_theme form ':default/admin/form:manage_fields.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker.css') }}">
    <link href="{{ asset('css/admin/dataTables.min.css') }}" rel="stylesheet">
{% endblock %}
{% set entity = app.request.get('entity') %}

{% block page_heading %}{% endblock %}

{% block scripts %}
    <script src="{{ asset('admin/js/plugins/datapicker/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('js/plugins/dataTables/datatables.min.js') }}"></script>

    <script>
        $(document).ready(function () {
            var form = $('#form_{{ form.vars.name }}');

            {% if entity != 'event' %}
                form.append('<div style="margin-top: 20px;"><button class="btn btn-success" type="submit"><span class="fa fa-floppy-o"></span> Сохранить</button></div>')
            {% endif %}

            $('#banner_category').change(function () {

                var value = $(this).val(),
                    parent = $('#banner_category').parent();

                $('.banner-object-container').remove();

                if (value.length > 0) {
                    $.ajax({
                        url: '{{ path('admin.api.render_object_selector') }}',
                        method: 'post',
                        data: {
                            'category': value
                        },
                        success: function (data) {
                            $(parent).append(data);
                        }
                    })
                }
            });

            {% if object.object is defined and object.object is not empty %}
            $.ajax({
                url: '{{ path('admin.api.render_object_selector') }}',
                method: 'post',
                data: {
                    'category': '{{ object.category }}'
                },
                success: function (data) {
                    $('#banner_category').parent().append(data);
                    $('#banner_object').val('{{ object.object }}');
                }
            });
            {% endif %}
        });


        {% if entity != 'event' %}
            $('#{{ entity }}_seoTitle').liTranslit({
                elAlias: $('#{{ entity }}_slug')
            });
        {% endif %}

        $('.url-translit-generator').on('click', function (e) {
            $('#{{ entity }}_title').liTranslit({
                elAlias: $('#{{ entity }}_slug')
            });
            $('#{{ entity }}_title').unbind();
        });

        $('[data-field-type=datepicker-type]').datepicker({
            format: 'dd.mm.yyyy',
            autoclose: true
        });

        /*IMAGE PREVIEW MODAL ACTION*/
        $(".open-img-prev").click(function () {
            var imgname = $(this).data('imgname'),
                modalTitle = $('#prevModal .modal-title').text(),
                entityName = '{{ routeParams.entity }}',
                filePathPattern = '{{ asset('upload/%entity%/%imgname%') }}';

            $('.modal-title').text(modalTitle.replace('%imgname%', imgname));
            $('#prev-img').attr('src', filePathPattern.replace('%entity%', entityName).replace('%imgname%', imgname));
            console.log(entityName)
            $("#prevModal").modal();
        });
        /*END OF IMAGE PREVIEW MODAL ACTION*/

        /*BUILD IMAGE LIST TABLE*/
        $('.files-list-table').DataTable({
            pageLength: 10,
            responsive: true,
            dom: '<"html5buttons"B>lTfgitp',
            buttons: [
                {extend: 'copy'},
                {extend: 'csv'},
                {extend: 'excel', title: 'ExampleFile'},
                {extend: 'pdf', title: 'ExampleFile'},

                {
                    extend: 'print',
                    customize: function (win) {
                        $(win.document.body).addClass('white-bg');
                        $(win.document.body).css('font-size', '10px');

                        $(win.document.body).find('table')
                            .addClass('compact')
                            .css('font-size', 'inherit');
                    }
                }
            ]

        });
        /*END BUILD IMAGE LIST TABLE*/
    </script>


{% endblock %}

{% block content %}
{% endblock %}
