{% extends ':default/admin:base.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('node_modules/fullcalendar/dist/fullcalendar.min.css') }}">
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/qtip2/3.0.3/jquery.qtip.min.css">
{% endblock %}

{% block scripts %}
    <script src="{{ asset('node_modules/moment/min/moment.min.js') }}"></script>
    <script src="{{ asset('node_modules/fullcalendar/dist/fullcalendar.min.js') }}"></script>
    <script src="{{ asset('node_modules/fullcalendar/dist/locale/ru.js') }}"></script>
    <script src="http://cdn.jsdelivr.net/qtip2/3.0.3/jquery.qtip.min.js"></script>

    <script>

        var events = [],
            url = '{{ path('admin.booking.details', {'booking': '_booking'}) }}';

        {% for booking in bookings %}
        var event = {
            id: '{{ booking.id }}',
            title: '{{ booking.time | date('H:i') ~' - ' ~ booking.email }}',
            phone: '{{ booking.phone }}',
            start: '{{ booking.date | date('Y-m-d') }}',
            editable: false,
            overlap: false
        };
        events.push(event);
        {% endfor %}

        $('#calendar').fullCalendar({
            events: events,
            locale: 'ru',
            eventClick: function (event) {
                var url = '{{ path('admin.booking.details', {'booking': '_id'}) }}';
                window.location.href = url.replace('_id', event.id);
            }
        });
    </script>
{% endblock %}

{% block add_object_btn %}
    <li>
        <a href="{{ path('admin.booking.add', {'hall': hall.id} ) }}">
            <i class="fa fa-plus"></i> Новое бронирование
        </a>
    </li>
{% endblock %}

{% block content %}

    <div class="col-md-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">

                <h5>{{ hall.title }}: календарь бронирований</h5>
                <div class="ibox-tools">
                </div>
            </div>
            <div class="ibox-content">
                <div id="calendar"></div>
            </div>
            <div class="ibox-footer">

            </div>
        </div>
    </div>
{% endblock %}