{% extends ':default/admin:base.html.twig' %}

{% block page_heading %}Заявка на бронь №{{ booking.id }}{% endblock %}

{% block content %}
    <div class="mail-box-header">
        <h2>
            {{ booking.hall.title }} <a href="{{ path('admin.manage', {
                'entity': 'hall',
                'id': booking.hall.id
            }) }}" target="_blank"><span class="fa fa-link"></span></a>
        </h2>
        <div class="mail-tools tooltip-demo m-t-md">
            <h4>
                Запрос на бронирование зала
            </h4>
            <h5>
                <span class="pull-right font-normal"> {{ booking.dateReceived | date('H:i')~' | '~booking.dateReceived |date('d.m.Y') }}</span>
            </h5>
        </div>
    </div>
    <div class="mail-box">
        <div class="mail-body">
            <table>
                <tr>
                    <td>
                        <b>Дата:&nbsp;</b>
                    </td>
                    <td>{{  booking.date | date('d.m.Y') }}</td>
                </tr>
                <tr>
                    <td>
                        <b>Кол-во человек:&nbsp;</b>
                    </td>
                    <td>{{  booking.guests~' чел. (вместимость зала: '~booking.hall.capacity~' чел.)' }}</td>
                </tr>
                <tr>
                    <td>
                        <b>Контактный телефон:&nbsp;</b>
                    </td>
                    <td>{{  booking.phone }}</td>
                </tr>
                <tr>
                    <td>
                        <b>Email:&nbsp;</b>
                    </td>
                    <td>{{  booking.email }}</td>
                </tr>
                <tr>
                    <td>
                        <b>Описание:&nbsp;</b>
                    </td>
                    <td>{{  booking.message }}</td>
                </tr>
                <tr>
                    <td>
                        <b>Прикрепленные документы:&nbsp;</b>
                    </td>
                    <td>
                        <ul>
                            {% for file in booking.files %}
                                <li><a href="{{ asset('upload/booking/'~file.name) }}">{{ file.name }}</a> </li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            </table>
        </div>

        <div class="mail-body text-right tooltip-demo">
            {% set fa_class = 'fa-star' %}
            {% set confirm_btn_text = 'Забронировать' %}
            {% set disabled = '' %}

            {% if booking.booked == 1 %}
                {% set fa_class = 'fa-check' %}
                {% set confirm_btn_text = 'Забронировано' %}
                {% set disabled = 'disabled' %}
            {% endif %}

            <button class="btn btn-sm btn-success confirm-booking" {{ disabled }} data-bookingid="{{ booking.id }}">
                <i class="fa {{ fa_class }}"></i> {{ confirm_btn_text }}
            </button>
            <a role="button" href="{{ path('admin.booking.list') }}" class="btn btn-sm btn-warning">
                <i class="fa fa-list"></i> К списку
            </a>
        </div>
        <div class="clearfix"></div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {

            $('.confirm-booking').on('click', function () {
                var id = $(this).data('bookingid'),
                    url = '{{ path('admin.api.confirm_action', {'id': '_id', 'entity': 'booking'}) }}';

                swal({
                    title: "Подтверждение бронирования",
                    text: "Вы уверенны, что хотите подтвердить бронирование зала {{ booking.hall.title }}",
                    type: "info",
                    showCancelButton: true,
                    confirmButtonColor: "#82DD82",
                    confirmButtonText: "Подтвердить",
                    closeOnConfirm: false
                }, function () {
                    $.ajax({
                        url: url.replace('_id', id),
                        method: 'POST',
                        success: function () {
                            $('.confirm-booking')
                                .attr('disabled', true)
                                .html('<i class="fa fa-check"></i>Забронировано');

                            swal({
                                title: 'Забронировано',
                                text: 'Бронь успешно подтверждена',
                                type: 'success'
                            });
                        }
                    });
                });
            })
        })
    </script>
{% endblock %}