{% extends ':default/admin:base.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('node_modules/fullcalendar/dist/fullcalendar.min.css') }}">
{% endblock %}

{% block content %}
    {% set activeHall = halls | first %}
    <div class="col-lg-12">
        <div class="tabs-container">

            <div class="tabs-left">
                <ul class="nav nav-tabs">

                    {% for hall in halls %}
                        <li {% if hall.id == activeHall.id %}class="active"{% endif %}>
                            <a data-toggle="tab" href="#hall-{{ hall.id }}" aria-expanded="false">
                                {{ hall.title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <div class="tab-content ">

                    {% for hall in halls %}

                        <div id="hall-{{ hall.id }}" class="tab-pane {% if hall.id == activeHall.id %}active{% endif %}">

                            <div class="panel-body">

                                <div id="calendar-{{ hall.id }}"></div>

                            </div>

                        </div>

                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ asset('node_modules/fullcalendar/dist/fullcalendar.min.js') }}"></script>
    {#<script src="{{ asset('node_modules/fullcalendar/dist/locale/ru.js') }}"></script>#}
    <script>

        var events = [],
            url = '{{ path('admin.booking.details', {'booking': '_booking'}) }}';


        {% for hall in halls %}
        events['hall-{{ hall.id }}'] = [];
            {% for booking in hall.bookings %}
                {#var event = {#}
                    {#id: '{{ booking.id }}',#}
                    {#title: '{{ booking.time | date('H:i') ~' - ' ~ booking.email }}',#}
                    {#phone: '{{ booking.phone }}',#}
                    {#start: '{{ booking.date | date('Y-m-d') }}',#}
                    {#editable: false,#}
                    {#overlap: false#}
                {#};#}
        events['hall-{{ hall.id }}'].push( {
            id: '{{ booking.id }}',
            title: '{{ booking.time | date('H:i') ~' - ' ~ booking.email }}',
            phone: '{{ booking.phone }}',
            start: '{{ booking.date | date('Y-m-d') }}',
            editable: false,
            overlap: false
        });
            {% endfor %}
        {% endfor %}

        {% for hall in halls %}
        $('#calendar-{{ hall.id }}').fullCalendar({
            events:  events['hall-{{ hall.id }}'],
            locale: 'ru',
            eventClick: function (event) {
                var url = '{{ path('admin.booking.edit', {'booking': '_id'}) }}';
                window.location.href = url.replace('_id', event.id);
            }
        });
        {% endfor %}
    </script>
{% endblock %}