{% for event in events %}

    <div class="col-lg-3 col-xs-12 single-event-container">
        <div class="panel panel-default single-event-panel no-border-radius">
            <div class="panel-heading text-center no-border-radius">
                <h3 style="word-wrap: break-word;">  {{ event.date }}  </h3>
                <small>{{ event.day }}</small>
            </div>

            {% for subevent in event.events %}
                <div class="panel-body text-center no-border-radius">
                    <label class="subevent-name">  {{ subevent.name }} </label>

                    <label style="width: 100%">
                        <span class="fa fa-clock-o"></span>&nbsp;{{ subevent.time }}
                    </label>

                    {% if subevent.price is not empty %}
                        <label style="width: 100%">
                            Цена:&nbsp;{{ subevent.price }} <span class="fa fa-rouble"></span>
                        </label>
                    {% endif %}

                    <div class="btn-group event-buttons">
                        <a role="button"
                           type="button"
                           class="btn btn-primary no-border-radius"
                           href="{{ path('event.details_page', {'event': subevent.id}) }}"
                           target="_blank">
                            Подробнее
                        </a>
                        <a role="button"
                           type="button"
                           class="btn btn-success no-border-radius"
                                {% if subevent.ticketUrl is null %}
                                    disabled="disabled"
                                {% endif %}
                           href="{{ subevent.ticketUrl }}"
                           target="_blank">
                            Купить билет
                        </a>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>

{% endfor %}