{% extends ':default/admin:manage.html.twig' %}

{% block page_heading %}
    {% if object.id == null %}
        Добавить новое событие
    {% else %}
        {{ object.title }}
    {% endif %}
{% endblock %}

{% block styles %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('node_modules/bootstrap-timepicker/css/bootstrap-timepicker.min.css') }}">
    <link href="{{ asset('css/admin/dataTables.min.css') }}" rel="stylesheet">
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="{{ asset('node_modules/bootstrap-timepicker/js/bootstrap-timepicker.min.js') }}"></script>
    <script src="{{ asset('js/plugins/dataTables/datatables.min.js') }}"></script>

    <script>

        $(".open-img-prev").click(function () {
            var imgname = $(this).data('imgname'),
                modalTitle = $('#prevModal .modal-title').text(),
                entityName = '{{ routeParams.entity }}',
                filePathPattern = '{{ asset('upload/%entity%/%imgname%') }}';

            $('#prevModal .modal-title').text(modalTitle.replace('%imgname%', imgname));
            $('#prev-img').attr('src', filePathPattern.replace('%entity%', entityName).replace('%imgname%', imgname));
            $("#prevModal").modal();
        });

        $('#event-date').datepicker({
            format: 'dd.mm.yyyy',
            autoclose: true
        });

        $('.event-date-edit').datepicker({
            format: 'dd.mm.yyyy',
            autoclose: true
        });

        $('#event-time').timepicker({
            showMeridian: false
        });

        $('.event-time-edit').timepicker({
            showMeridian: false
        });

        $('.save-event-date-time').on('click', function () {
            var btn = this,
                time = $('#event-time').val(),
                date = $('#event-date').val(),
                kassy_ru_pid = $('#event-kassy-ru-pid').val(),
                event = $(this).data('eventid'),
                url = '{{ path('admin.api.save_event_date_time_action') }}';

            $.ajax({
                method: 'post',
                url: url,
                data: {
                    date: date,
                    time: time,
                    event: event,
                    kassy_ru_pid: kassy_ru_pid
                },
                success: function () {
                    $('.notification-box')
                        .removeClass('hidden')
                        .addClass('alert-success');

                    $('.event-date-time-table').append('' +
                        '<tr>' +
                        '<td>' + date +'</td>' +
                        '<td>' + time +'</td>' +
                        '</tr>')
                    $('.notification-text').text('Дата сохранена');

                },
                error: function () {
                    $('.notification-box')
                        .removeClass('hidden')
                        .addClass('alert-danger');

                    $('.notification-text').text('Возникла ошибка');
                }
            });

        });

        $('.edit-event-date-time').on('click', function () {
            var btn = this,
                event = $(this).data('eventid'),
                time = $('#event-time-edit-'+event).val(),
                date = $('#event-date-edit-'+event).val(),
                kassy_ru_pid = $('#event-kassy-ru-pid-' + event).val(),
                url = '{{ path('admin.api.edit_event_date_time_action') }}';

            $.ajax({
                method: 'post',
                url: url,
                data: {
                    date: date,
                    time: time,
                    event: event,
                    kassy_ru_pid: kassy_ru_pid
                },
                success: function () {
                    $('.notification-box-main')
                        .removeClass('hidden')
                        .addClass('alert-success');


                    $('.notification-text-main').text('Дата сохранена');

                },
                error: function () {
                    $('.notification-box-main')
                        .removeClass('hidden')
                        .addClass('alert-danger');

                    $('.notification-text-main').text('Возникла ошибка');
                }
            });

        });

        $('.event-date-time-table').DataTable({
            pageLength: 10,
            responsive: true,
            dom: '<"html5buttons"B>lTfgitp',
            buttons: [
                {extend: 'copy'},
                {extend: 'csv'},
                {extend: 'excel', title: 'ExampleFile'},
                {extend: 'pdf', title: 'ExampleFile'},

                {
                    extend: 'print',
                    customize: function (win) {
                        $(win.document.body).addClass('white-bg');
                        $(win.document.body).css('font-size', '10px');

                        $(win.document.body).find('table')
                            .addClass('compact')
                            .css('font-size', 'inherit');
                    }
                }
            ]

        });

        $('.files-list-table').DataTable({
            pageLength: 10,
            responsive: true,
            dom: '<"html5buttons"B>lTfgitp',
            buttons: [
                {extend: 'copy'},
                {extend: 'csv'},
                {extend: 'excel', title: 'ExampleFile'},
                {extend: 'pdf', title: 'ExampleFile'},

                {
                    extend: 'print',
                    customize: function (win) {
                        $(win.document.body).addClass('white-bg');
                        $(win.document.body).css('font-size', '10px');

                        $(win.document.body).find('table')
                            .addClass('compact')
                            .css('font-size', 'inherit');
                    }
                }
            ]

        });
    </script>
{% endblock %}

{% block content %}
    <div class="col-lg-12">
        <div class="alert alert-success alert-dismissable notification-box-main hidden">
            <a href="#" class="close" aria-label="close">&times;</a>
            <p class="notification-text-main"></p>
        </div>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{ message | raw }}
            </div>
        {% endfor %}

        {{ form_start(form) }}

        <div style="margin: 0 0 20px 0;">
            {{ form_widget(form.save) }}
        </div>

        <div class="tabs-container">
            <div class="tabs-left">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab" href="#main_info" aria-expanded="false">
                            <span class="fa fa-info"></span> Основная информация
                        </a>
                    </li>

                    <li class="">
                        <a data-toggle="tab" href="#date-time" aria-expanded="false">
                            <span class="fa fa-clock-o"></span> Время и дата
                        </a>
                    </li>

                    <li class="">
                        <a data-toggle="tab" href="#seo" aria-expanded="false">
                            <span class="fa fa-google"></span> SEO-информация
                        </a>
                    </li>
                    <li class="">
                        <a data-toggle="tab" href="#files" aria-expanded="false">
                            <span class="fa fa-file"></span> Файлы
                        </a>
                    </li>

                    <li class="">
                        <a data-toggle="tab" href="#widgets" aria-expanded="false">
                            <span class="fa fa-cog"></span> Виджеты
                        </a>
                    </li>
                </ul>
                <div class="tab-content ">

                    <div id="main_info" class="tab-pane active">
                        <div class="panel-body">
                            {{ form_label(form.title) }}
                            {{ form_widget(form.title) }}

                            {{ form_label(form.slug) }}
                            <div class="input-group">
                                <!-- /btn-group -->
                                {{ form_widget(form.slug) }}
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-primary url-translit-generator">
                                        <i class="fa fa-link" aria-hidden="true"></i> Генерировать URL
                                    </button>
                                </div>
                            </div>

                            {{ form_label(form.price) }}
                            {{ form_widget(form.price) }}

                            {{ form_label(form.ticketUrl) }}
                            {{ form_widget(form.ticketUrl) }}

                            {{ form_label(form.description) }}
                            {{ form_widget(form.description) }}

                            {{ form_label(form.content) }}
                            {{ form_widget(form.content) }}
                        </div>
                    </div>

                    <div id="seo" class="tab-pane">
                        <div class="panel-body">
                            {{ form_label(form.seoTitle) }}
                            {{ form_widget(form.seoTitle) }}

                            {{ form_label(form.seoKeywords) }}
                            {{ form_widget(form.seoKeywords) }}

                            {{ form_label(form.seoDescription) }}
                            {{ form_widget(form.seoDescription) }}

                            {{ form_label(form.redirect) }}
                            {{ form_widget(form.redirect) }}

                            {{ form_label(form.redirectUrl) }}
                            {{ form_widget(form.redirectUrl) }}
                        </div>
                    </div>

                    <div id="files" class="tab-pane">

                        <div class="panel-body">
                            {{ form_label(form.files) }}
                            {{ form_widget(form.files) }}

                            <table class="table table-striped table-bordered table-hover files-list-table">
                                <thead>
                                <th>ID</th>
                                <th>Название</th>
                                <th>Расширение</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                </thead>
                                <tbody>
                                {% for file in object.files %}
                                    <tr id="{{ 'file_'~file.id }}">
                                        <td>{{ file.id }}</td>
                                        <td>{{ file.name }}</td>
                                        <td>{{ file.mimeType }}</td>
                                        <td>
                                            <button class="btn btn-success open-img-prev"
                                                    data-imgname="{{ file.name }}"
                                                    type="button">
                                                <span class="fa fa-eye"></span> Просмотр изобр.
                                            </button>
                                        </td>
                                        <td>
                                            {% if not file.isDefault %}
                                                <button class="btn btn-primary set-as-default"
                                                        data-fileid="{{ file.id }}"
                                                        type="button">
                                                    <span class="fa fa-star-o"></span> По умолч.
                                                </button>
                                            {% else %}
                                                <button class="btn btn-primary set-as-default"
                                                        data-fileid="{{ file.id }}"
                                                        type="button" disabled="disabled">Выбрано по умолчанию
                                                </button>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <button class="btn btn-warning delete-object" type="button"
                                                    data-objectname="file"
                                                    data-objectid="{{ file.id }}">
                                                <span class="fa fa-trash"></span> Удалить
                                            </button>
                                        </td>

                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>

                    </div>

                    <div id="widgets" class="tab-pane">

                        <div class="panel-body">
                            {{ form_label(form.widgetJsCode) }}
                            {{ form_widget(form.widgetJsCode) }}

                            {{ form_label(form.widgetCssCode) }}
                            {{ form_widget(form.widgetCssCode) }}

                            {{ form_label(form.widgetHtmlCode) }}
                            {{ form_widget(form.widgetHtmlCode) }}
                        </div>

                    </div>

                    <div id="date-time" class="tab-pane">
                        <div class="panel-body">

                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#date-time-modal" style="margin: 0 0 20px 0">
                                Добавить новую дату
                            </button>

                            <table class="table table-responsive event-date-time-table">
                                <thead>
                                <th class="text-center">Дата концера</th>
                                <th class="text-center">Время концерта</th>
                                <th class="text-center">Kassy.ru PID</th>
                                <th class="text-center">Управление</th>
                                </thead>
                                <tbody>
                                {% for event in object.eventDateTime %}
                                    <tr id="EventDateTime_{{ event.id }}">
                                        <td class="text-center">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                <input class="form-control event-date-edit" type="text" value="{{ event.date | date('d.m.Y') }}"
                                                       id="event-date-edit-{{ event.id }}" name="event-day-edit-{{ event.id }}">
                                                {#<input id="event-date" type="text" class="form-control" name="event-date">#}
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                                                <input class="form-control event-time-edit" type="text"
                                                       value="{{ event.time | date('H:i') }}" id="event-time-edit-{{ event.id }}" name="event-time-edit-{{ event.id }}">
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-id-card"></i></span>
                                                <input class="form-control" type="text"
                                                       value="{{ event.kassyRuPID }}" id="event-kassy-ru-pid-{{ event.id }}" name="event-kassy-ru-pid-{{ event.id }}">
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="btn-group">
                                                <button type="button"
                                                        class="btn btn-primary edit-event-date-time"
                                                        data-eventid="{{ event.id }}">
                                                    <span class="fa fa-floppy-o"></span>
                                                </button>
                                                <a href="#" role="button" class="btn btn-danger delete-object"
                                                   data-objectname="EventDateTime"
                                                   data-objectid="{{ event.id }}">
                                                    <span class="fa fa-trash"></span>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
        <!-- Modal -->
        <div id="date-time-modal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Новая дата/время концерта</h4>
                    </div>
                    <div class="modal-body">

                        <div class="alert alert-dismissable hidden notification-box">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <p class="notification-text"></p>
                        </div>

                        <div class="form-group">
                            <label for="event-date">Дата события</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                <input id="event-date" type="text" class="form-control" name="event-date">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="event-time">Время события</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                                <input id="event-time" type="text" class="form-control" name="event-time">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="event-time">kassy.ru PID</label> <span class="fa fa-info-circle"></span>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-id-card"></i></span>
                                <input id="event-kassy-ru-pid" type="text" class="form-control" name="event-kassy-ru-pid">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary save-event-date-time"
                                    data-eventid="{{ object.id }}">Сохранить
                            </button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Закрыть</button>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>

    <div id="prevModal" class="modal fade" role="dialog">
        <div class="modal-dialog" id="prevModaldialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Просмотр изображения %imgname%</h4>
                </div>
                <div class="modal-body">
                    <img src="" id="prev-img" style="width: 100%;">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
