<nav class="navbar navbar-default hidden-lg hidden-md mobile-nav">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand site-logo" href="{{ path('front.index') }}">
                <img src="{{ asset('img/logo.svg') }}">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">

                	{% set requestUri = app.request.requestUri %}
						{% for menuItem in mainMenu %}

							{% set active = null %}

							{% if menuItem.id == app.request.get('entity') %}
								{% set active = 'active' %}
							{% endif %}

							{% if app.request.get('entity') == null %}
								{% if requestUri == menuItem.path %}
									{% set active = 'active' %}
								{% endif %}
							{% endif %}

                       	<li {% if active != null %}class="{{ active }}"{% endif %}>
							<a href="{{ menuItem.path }}">
								{{ menuItem.title }}
							</a>
						</li>
                        {% endfor %}
            </ul>
        </div>
    </div>
</nav>
